*{
    background-color: rgb(20, 20, 20);
    text-transform: uppercase;
}

#a_size,#a_speed{
    width: 60%;
}

.btn{
    margin: 1% 1%;
    text-transform: uppercase;

}

#array_container{
    margin: 1% auto;
    display: -webkit-box;
    /* display: -ms-flexbox; */
    /* display: flex; */
    width: 100%;
    height: 50vh;
    }

#header{
    color: brown;
    font-size: 350%;
    text-align: center;
    /* text-transform: uppercase; */

}

#key{
    background: white;
    width: 20%;
    margin: 2% auto auto auto;
}

#array-inputs h2{
    color: rgb(23, 141, 170);
    font-size: 150%;
}

#array-inputs div{
    display: inline-block;
    margin: 0px auto;
    width: 33%;
    align-self: center;
}

/* Tablets */

@media screen and (max-width:650px){
    
    #header{
        font-size: 175%;
    }

    #a_size,#a_speed{
        width: 100%;
    }
    #array-inputs h2{
        font-size: 66%;
    }

    #array-inputs div{
        width: 30%;
    }

    #array_container{
        margin: 0px;
    }

    #key{
        width: 50%;
        margin-bottom: 3%;
    }
}

/* Mobile Screens */
@media screen and (max-width:360px){
    
    #header{
        font-size: 125%;
    }

    #a_size,#a_speed{
        width: 100%;
    }

    #array-inputs h2{
        font-size: 50%;
    }

    #array-inputs div{
        width: 33%;
    }

    #array_container{
        margin: 0px;
    }

    .btn{
        width: 20%;
        height: auto;
        font-size: 0.4rem;
    }

    #generate{
        width: 100%;
        margin: 0px;
    }

    #key{
        width: 30%;
        font-size: 10%;
        margin-bottom: 3%;
    }
}




/* ----------------------MODAL------------------------ */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(56, 53, 53);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #08748f;
    color: white;
  }
  
  .modal h2{
      background: none;
  }

  .modal p{
      background: none;
      font-size: 200%;
      letter-spacing: 1px;
      margin: 5% auto;
      color:red;
      font-weight: 500;
      
  }

  .modal-body {
    padding: 2px 16px;
    height: 200px;
    background-color: #fff;
}
  
/* #array_elements{
    display: none;
} */
